.App {
    width:500px;
    border:2px solid black;
    border-radius:20px;
    background: linear-gradient(#fff 10%, #f1f1f1 98%, #ccc);
    padding:0 20px 20px;
    font-family: monospace;
  }
  
  body {
    background: #def;
  }